header {
    color: white;
    background-color: #5b7989;
    text-align: left;
    text-shadow: 2px #edebf7;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 900px;
    padding: 10px 0px  30px;
    margin: auto;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation: slidein 3s;
}
@-webkit-keyframes slidein {
    0%{
margin-top: 150%;
    }
    60%{
margin-top: -5%;
    }
    100%{
margin-top: 0%;
    }
}

.link a{
    color: white;
   
    width: 10%;

   
}
.link a:hover{
    text-decoration: none;
    
}

body{
    background-color: #02010a;
    font-family: Dancing Scrip;
    margin: auto;
}
#contenido{
    flex-wrap: wrap;
    text-align: center;
    width: 900px;
    margin: auto;
    display: flex;
    flex: row;
    background-color: #d5c75f;
    
    
}
#contenido  img{
    margin: auto;
    width: 90%;
    height: 80%;
    filter: drop-shadow(2px 2px 2px  #02010a);

    margin-top: 20px;
    
    }
    footer{
        color: black;
        font-family: "luCiDa Calligraphy";
        width: 900px;
      
        background-color: #C6d5c5;
        text-align: center;
        
        margin: auto;
    }
    .contenedor {
    
        display: flex;
        flex: row;
        flex-wrap: wrap;
    
    }

    @media screen and (min-width: 402px )and (max-width:20000px){
        .link  {
            text-align: right;
           
        }
        .link a{
            margin: 2%;
        }
        #contenido .b1 {
        width: 33% ;
    }
    #contenido .b2 {
        width: 33% ;
    }
    #contenido .b3 {
        width: 33% ;
    }
    #contenido .b4 {
        width: 33% ;
    }
    #contenido .b5 {
        width: 33% ;
    }
    #contenido .b6 {
        width: 33% ;
    }
    .contenedor .f1{
        width: 25%;
    }
    .contenedor .f2{
        width: 25%;
    }
    .contenedor .f3{
        width: 25%;
    }
    .contenedor .f4{
        width: 25%;
    }
        
    }
    @media only screen and (max-width: 401px){
        .link{
            width: 100%;
            text-align: center;}
        #contenido .b1 {
            width: 100% ;
        }
        #contenido .b2 {
            width: 100% ;
        }
        #contenido .b3 {
            width: 100% ;
        }
        #contenido .b4 {
            width: 100% ;
        }
        #contenido .b5 {
            width: 100% ;
        }
        #contenido .b6 {
            width: 100% ;
        }

        .f1{
        width: 100%;
    }
    .contenedor .f2{
        width: 100%;
    }
    .contenedor .f3{
        width: 100%;
    }
    .contenedor .f4{
        width: 100%;
    }
    .contenedor div{
        text-align: justify;
        margin-left: 150px;
    }
    }

   #contenido #img1{
        filter: blur(10px)
    }
    #contenido #img2{
        filter: grayscale(100%)
    }
    #contenido #img4{
        filter: grayscale(100%)
    }
    #contenido #img6{
        filter: grayscale(100%)
    }
    #contenido #img3{
       filter: sepia(90%)
    }
    